body {
  margin: 0;
}

.container {
  display: flex;
  min-height: calc(100vh - 60px);
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.video-player {
  width: 100%;
  text-align: center;
}

.video-player video {
  display: block;
  width: 100%;
  min-width: min(512px, 90vw);
  max-width: min(1024px, 90vw);
  height: auto;
  margin: auto;
}
